@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

.flexcontainer{
    height: 100%;
    min-height: 100%;
}

#editor{
    font-family: 'Fira Code', monospace;
    font-size: large;
}